{{title}}
{% for i in title -%}
=
{%- endfor %}

.. rest_method:: {{http_method}} {{uri}}

{{docs_rst}}

Normal response codes: {{normal_responses}}

Error response codes: {{error_responses}}

Request
^^^^^^^

{% if uri_table %}
URI Parameters
~~~~~~~~~~~~~~

.. rest_parameters:: {{params_yaml}}

{{uri_table}}
{% endif %}

{% if query_table %}

Query Parameters
~~~~~~~~~~~~~~~~

.. rest_parameters:: {{params_yaml}}

{{query_table}}
{% endif %}

{% if body_table %}

Body Parameters
~~~~~~~~~~~~~~~

.. rest_parameters:: {{params_yaml}}

{{body_table}}
{% endif %}

{% for item in request_examples %}
{% if not item['title'] %}
**Example  {{title}}: {{item['type']}} request**
{% else %}
**Example {{item['title']}}**
{% endif %}

.. literalinclude:: ../{{item['code']}}
   :language: javascript

{% endfor %}

Response
^^^^^^^^

{% if response_table %}
.. rest_parameters:: {{params_yaml}}

{{response_table}}
{% endif %}

{% for item in response_examples %}
{% if not item['title'] %}
**Example  {{title}}: {{item['type']}} request**
{% else %}
**Example {{item['title']}}**
{% endif %}

.. literalinclude:: ../{{item['code']}}
   :language: javascript

{% endfor %}
