<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="includes/css/main.css">
        <link rel="stylesheet" type="text/css" href="includes/css/header.css">
        <link rel="stylesheet" type="text/css" href="includes/css/footer.css">
        <link rel="stylesheet" type="text/css" href="includes/css/main.css">
        
        <script type="text/javascript" src="includes/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="includes/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="includes/js/main.js"></script>
        <script type="text/javascript" src="https://rc-api-docs.disqus.com/embed.js"></script>
    </head>
    
    <body>

    <!-- TODO: make an include -->
        <header>
            <div id="eyebrow-wrapper">
                <div class="container" id="eyebrow-container">
                    <div id="eyebrow-logo"><a href="http://rackspace.com">Rackspace</a></div>
                    <div class="dropdown-menu" id="eyebrow-login">
                        <ul>
                            <li>
                                <span class="btn">Call Us<i class="fa fa-angle-down"></i></span>
                                <ul class="right phone">
                                    <li class="header">Email &amp; Apps</li>
                                    <li><strong>US:</strong> 1-888-850-3994</li>
                                    <li><strong>Intl:</strong> +44 20 8734 4029</li>
                                    <li class="header">Private Cloud</li>
                                    <li><strong>US:</strong> 1-210-312-6682</li>
                                    <li><strong>Intl:</strong> +1-210-581-0407</li>
                                </ul>
                                <ul class="col-right phone">
                                    <li class="header">Dedicated Hosting</li>
                                    <li><strong>US:</strong> 1-800-961-4454</li>
                                    <li><strong>Intl:</strong> +44 20 8734 2700</li>
                                    <li class="header">Cloud Hosting</li>
                                    <li><strong>US:</strong> 1-800-961-4454</li>
                                    <li><strong>Intl:</strong> +44 20 8734 4345</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown-menu" id="eyebrow-signup">
                        <ul>
                            <li>
                                <span class="btn">Log In<i class="fa fa-angle-down"></i></span>
                                <ul class="right">
                                    <li class="header">Dedicated Hosting</li>
                                    <li><a href="https://my.rackspace.com/portal/auth/login">MyRackspace Portal</a></li>
                                    <li class="header">Cloud Hosting</li>
                                    <li><a href="https://mycloud.rackspace.com">Cloud Control Panel</a></li>
                                    <li><a href="https://manage.rackspacecloud.com/pages/Login.jsp">Cloud Sites</a></li>
                                    <li class="header">Email &amp; Apps</li>
                                    <li><a href="https://apps.rackspace.com/index.php">Rackspace Webmail Login</a></li>
                                    <li><a href="https://cp.rackspace.com/Login.aspx">Email Admin Login</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="eyebrow-status">
                        <p><i class="fa fa-circle good"></i><a href="https://status.rackspace.com">System Status</a></p>
        			</div>
                </div>
            </div>
        	<div id="banner-announcement-container">
        		<div class="banner-announcement">
        			<p><i class="fa fa-exclamation-circle"></i><strong>Rackspace is currently undergoing a maintenance</strong>. See our <a href="##">System Status</a> page for the latest updates.</p>
        			<a href="javascript:void(0)" class="banner-announcement-close tooltip" title="Never show this to me again.">&times;</a>
        		</div>
        	</div>
            <div id="banner-wrapper">
                <div class="banner-utility container" id="banner-container">
                    <a href="http://support.rackspace.com">
        				<aside id="logo">
        	                <h1>Rackspace</h1>
        	                <p>Support Network</p>
        	            </aside>
        			</a>
                    <div id="search-container">
                        <form action="" id="search" method="GET">
                            <input id="search-input" name="form" placeholder="Search our Support Network" type="text">
                            <button class="fa fa-search" id="search-button" type="submit"></button>
                        </form>
                    </div>
                </div>
                <nav id="nav-global">
                    <a href="##">Support Home</a><a href="http://www.rackspace.com/knowledge_center/">Knowledge Base</a><a class="active" href="http://docs.rackspace.com">Documentation &amp; API</a><a href="http://community.rackspace.com">Forums</a>
                </nav>
            </div>
        </header>
        <article>
            <div class="container">
                <div class="row content-container">
                    <div class="three columns alpha sidebar">
                        <div class="sidebar-section">
                            <h3><i class="fa fa-list"></i>Contents</h3>
                            <ul class="sidebar-navigation">
                                <li><a href="">Preface</a></li>
                                <li><a href="">Overview</a></li>
                                <li><a href="">Contents</a></li>
                                <li><a href="">General API Information<i class="fa fa-angle-down"></i></a></li>
                                <li><a href="">API Operations for Developers</a></li>
                                <li><a href="">Glossary</a></li>
                                <li><a href="">Legal notices</a></li>
                            </ul>
                        </div>
                        <div class="sidebar-section">
                            <h3><i class="fa fa-bullhorn"></i>Was this content helpful?</h3>
                            <ul class="feedback-decision clearfix">
                                <li><a class="yes" href=""><i class="fa fa-thumbs-o-up"></i> Yes</a></li>
                                <li><a class="no" href=""><i class="fa fa-thumbs-o-down"></i> No</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nine columns omega content">
                        <h1>Rackspace Cloud Images Developer Guide</h1>
                        
                        {{child_html}}
        				<div id="disqus_thread"></div>
        				<script type="text/javascript">
        					/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        					var disqus_shortname = 'rackspaceknowledgecenter'; // required: replace example with your forum shortname
        					/* * * DON'T EDIT BELOW THIS LINE * * */
        					(function() {
        						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        						dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        					})();
        				</script>
        				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                    </div>
                </div>
            </div>     
        </article>
        <footer>
        	<div id="footer-wrapper">
        		<div id="fatfooter-wrapper">
        			<div id="fatfooter-container" class="clearfix">
        				<div class="fatfooter-col fatfooter-about">
        					<h4>About Rackspace</h4>
        					<div class="clearfix">
        						<ul class="fatfooter-list-about">
        							<li><a href="http://www.rackspace.com/about/">Our Story</a></li>
        							<li><a href="http://stories.rackspace.com" target="_blank">Leadership</a></li>
        							<li><a href="http://www.rackspace.com/events/">Events</a></li>
        							<li><a href="http://www.rackspace.com/programs/">Programs</a></li>
        							<li><a href="http://ir.rackspace.com/phoenix.zhtml?c=221673&p=irol-irhome">Investors</a></li>
        							<li><a href="http://www.rackspace.com/information/legal">Legal</a></li>
        						</ul>
        						<ul class="fatfooter-list-about">
    							<li><a href="http://www.rackspace.com/blog/newsroom/">News</a></li>
        							<li><a href="http://responsibility.rackspace.com/">Responsibility</a></li>
        							<li><a href="http://www.rackspace.com/information/events/rackgivesback" target="_blank">Rack Gives Back</a></li>
        							<li><a href="http://talent.rackspace.com/" target="_blank">Careers</a></li>
        							<li><a href="http://www.rackspace.com/information/contactus/">Contact Information</a></li>
        						</ul>
        					</div>
        				</div>
        				<div class="fatfooter-col">
        					<h4>Blogs</h4>
        					<ul>
    							<li><a href="http://www.rackspace.com/blog/">The Rackspace Blog</a></li>
    							<li><a href="http://developer.rackspace.com/blog/" target="_blank">DevOps Blog</a></li>
        					</ul>
        				</div>
        				<div class="fatfooter-col">
        					<h4>Support</h4>
        					<ul>
        						<li><a href="http://www.rackspace.com/knowledge_center/">Knowledge Center</a></li>
        						<li><a href="https://community.rackspace.com" target="_blank">Support Forums</a></li>
        						<li><a href="http://docs.rackspace.com/" target="_blank">API Documentation</a></li>
        						<li><a href="http://support.rackspace.com/" target="_blank">Support Home</a></li>
        						<li><a href="http://developer.rackspace.com" target="_blank">Developer Center</a></li>
        					</ul>
        				</div>
        				<div class="fatfooter-col">
        					<h4>&nbsp;</h4>
        					<ul>
        						<li><a href="http://www.rackspace.com/information/legal/privacystatement">Privacy Statement</a></li>
        						<li><a href="http://www.rackspace.com/information/legal/websiteterms">Website Terms</a></li>
        						<li><a href="http://www.rackspace.com/information/legal/copyrights_trademarks">Trademarks</a></li>
        						<li><a href="http://www.rackspace.com/sitemap">Sitemap</a></li>
        						<li><a href="https://feedback.rackspace.com/">Feedback</a></li>
                                <li class="corplink">&copy; 2015 Rackspace US, Inc.</li>
        					</ul>
        				</div>
        			</div>
        		</div>
        	</div>
        </footer>
    </body>
</html>