=============================================================================
{{title}}  - {{book_title}} - API v2.2
=============================================================================

{{title}}
~~~~~~~~~~~~~~~~~~~~~~~~~

`Request <{{filename}}#request>`__
`Response <{{filename}}#response>`__

{{method_table}}

{{docs_rst}}

This table shows the possible response codes for this operation:

{{responses_table}}

Request
^^^^^^^^^^^^^^^^^

{{parameters}}

Response
^^^^^^^^^^^^^^^^^^

{{responses}}
