<div class="method">
    {{docs_html}}

    <div class="method_signature">
        <h3>Method Signature</h3>
        <div class="method_signature_info">
            {{method_name}} {{full_path}}
        </div>
    </div>

    {{params_html}}
    {{child_html}}
</div>
