<div class="method">
    <div class="method_signature">
        <div class="http_verb">{{attributes['name']}}</div>
        <div class="path">{{resource.attributes['full_path']}}</div>
        <div class="short_description">{{docs.attributes['title']}}</div>
    </div>

    {{params_html}}
    {{docs_html}}
    {{child_html}}
</div>
