<div class="parameters">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Style</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{child_html}}
        </tbody>
    </table>
</div>
