
<div class="paramenters">
    <table>
        <thead>
            <tr>
                <th align="center">Name</th>
                <th align="center">Type</th>
                <th align="center">Description</th>
            </tr>
        </thead>
        <tbody>
            {{child_html}}
        </tbody>
    </table>
</div>
