.method {
    margin: 20px;
}

.method_signature {
    background-color: #204a87;
    color: #eeeeec;
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin-bottom: 8px;
}

.method_signature div {
    padding-right: 16px;
}

.parameters {
    margin: 10px 20px;
}

.parameters th, .parameters td {
    padding: 4px 16px;
}

.parameters td {
    border-top: 1px solid #d3d7cf;
}

.parameters td:nth-child(1) {
    white-space: nowrap;
}

.parameters td p {
    margin: 0px;
}
